/* RESET CSS */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ul,
li {
  list-style: none;
}
a,
a:link,
a:visited {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}
button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

/* RESET CSS END ==========================*/

/* HEADER CSS =================*/
.header {
  background: #000;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
/* HEADER LOGO ================*/
.header__logo {
}
.header__logo img {
  max-height: 42px;
  max-width: 168px;
}
/* HEADER MENU ================*/
.header__menu {
  position: relative;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  cursor: pointer;
  padding: 35px 15px;
  animation: fadeIn 1s ease-in-out;
}
.header__item i {
  color: #d0d0d0;
}
.header__item:hover {
  background: #181818;
  border-bottom: 1px solid #198cff;
}

.header__item:hover .header__dropdown {
  display: flex;
}

.header__item--active {
  cursor: pointer;
  padding: 35px 15px;
  background: #3b3b3b;
}

.header__item span {
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
  font-size: 19px;
  font-weight: 600;
  text-transform: capitalize;
}
/* HEADER BUTTON =============== */

.burger__action {
  width: 100%;
  display: flex;
  padding: 20px 0;
}
.header__btn {
  padding: 10px 19px;
  background: #198cff;
  border-radius: 6px;
}
.header__btn span {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

/* Burger button */
.burger__btn {
  padding: 10px 19px;
  background: #198cff;
  border-radius: 6px;
}
.burger__btn span {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
/* HEADER DROPDOWN ============ */
.header__dropdown {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 30px 20px;
  background: #3b3b3b;
  color: #fff;
  border-radius: 0 0 8px 8px;
  cursor: default;
  animation: fadeIn 0.5s;
  z-index: 7000;
}
.header__dropdown-active {
  display: flex;
}

.header__dropdown-item {
  max-width: 45%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.header__dropdown-item:hover {
  background: #4d4d4d;
}

.header__dropdown-item:hover .header__dropdown-img img {
  background: #000000;
  border-radius: 8px;
}
.header__dropdown-img {
  display: flex;
  padding: 10px 0;
  border-radius: 8px;
}
.header__dropdown-img i {
  font-size: 24px;
  color: #fff;
}

.header__dropdown-text p {
  margin: 0;
}

.header__dropdown-item:hover .header__dropdown-text-upper {
  color: #3777bd;
}

.header__dropdown-item:hover .header__dropdown-img i {
  font-size: 24px;
}

.header__dropdown-img img {
  padding: 4px;
  width: 40px;
  height: 40px;
}

.header__dropdown-text-upper {
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
  font-size: 18px;
}
.header__dropdown-text-upper {
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
  font-size: 18px;
}

.header__dropdown-text--bottom {
  font-family: "Space Grotesk", sans-serif;
  color: #d0d0d0;
  font-size: 14px;
}

/* HEADER PRICIND BTN ================= */

.header__dropdown-action {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
}
.header__dropdown-action--items-left {
  justify-content: flex-start;
}
.header__dropdown-action span {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #d6d6d6;
}
.dropdown-btn {
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  background: #e67e22;
  color: #fff;
  border-radius: 5px;
}
.dropdown-btn--wide {
  font-family: "Roboto", sans-serif;
  padding: 10px 70px;
  background: #e67e22;
  color: #ebebeb;
  margin: 0 auto;
  border-radius: 5px;
}

.dropdown-btn:hover {
  background: #f18424;
  color: #ffffff;

  box-shadow: rgba(255, 255, 255, 0.25) 0px 4px 20px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.header__dropdown-blog {
  width: 45%;
  background: #3b3b3b;
  border-radius: 10px;
}
.header__dropdown-blog h2 {
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  padding: 10px;
}
.header__dropdown-blog .header__dropdown-item {
  max-width: 100%;
}

.dropdown-btn--black {
  background: #868686;
  color: #ffffff;
  margin: 0 0;
}
.dropdown-btn--black:hover {
  background: #6c6c6c;
  color: #f7f7f7;
}

/* BURGER BTN ==================== */

.header__burger {
  padding-top: 4px;
  display: none;
}
.burger-btn {
  overflow: visible;
  cursor: pointer;
  fill: #fefefe;
  max-width: 40px;
}
.burger-btn--1,
.burger-btn--2,
.burger-btn--3 {
  transition: 0.2s;
  transform-origin: center center;
}

.active {
  .burger-btn--1 {
    transform: translate(-7px, 7px) rotate(45deg);
  }
  .burger-btn--2 {
    transform: translateX(20px);
    opacity: 0;
  }
  .burger-btn--3 {
    transform: translate(-7px, -7px) rotate(-45deg);
  }
}

.header__burger-content {
  position: absolute;

  width: 100%;
  display: flex;
  background: rgb(248, 240, 255);
  bottom: -100%;
}

/* BURGER WINDOW */

.burger {
  position: absolute;
  z-index: 7000;
  display: flex;
  right: 0;
  background: #3b3b3b;
  max-width: 450px;
  width: 100%;
  border-radius: 0 0 8px 8px;
}

.burger__container {
  display: none;
  width: 100%;
  padding: 10px;
  animation: fadeIn 0.5s;
}
.burger-show {
  display: block;
}

.burger__item {
  padding: 15px 0;
}
.burger__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}
.burger__line h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
.burger__line i {
  font-size: 18px;
  color: #ffffff;
  padding-right: 20px;
}

.burger__list {
  display: none;
}
.burger__list-item--show {
  margin-top: 4px;
  display: block;
}
.burger__list-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  width: 100%;
  padding: 14px;
  border-radius: 4px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  animation: fadeIn 0.5s;
}
.burger__list-item--with-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 4px;
  width: 100%;
  padding: 14px;
  border-radius: 4px;
  padding-left: 16px;
  border: none;
}
.burger__list-item--with-btn span {
  font-family: "Space Grotesk", sans-serif;
  color: #d0d0d0;
  font-size: 12px;
}
.burger__list-item li {
  width: 100%;
}

.burger__list-item-img img {
  max-width: 30px;
}
.burger__list-item-img i {
  color: #f3f3f3;
  font-size: 24px;
  width: 30px;
}

.burger__list-item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.burger__list-item-text p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin: 0;
}
.burger__list-item-text--orange p {
  color: #ffffff;
}
.burger__list-item-text--red p {
  color: #ffffff;
}

.burger__list-item-text span {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #d6d6d6;
}

.burger__list-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  color: #d6d6d6;
  margin-top: 10px;
  padding-left: 20px;
}

.header__burger {
  color: #fff;
  padding-top: 4px;
  display: none;
}

/* MOBILE AND MEDIA ==================*/
@media (max-width: 910px) {
  .header__item {
    padding: 20px 8px;
  }
}
@media (max-width: 845px) {
  .header__item span {
    font-size: 16px;
  }
}

@media (max-width: 770px) {
  .header__container {
    padding: 20px 15px;
  }
  .header__menu {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media (min-width: 771px) {
  .burger__container {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header__dropdown-item:hover .fa-tag {
  animation-name: move;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.header__dropdown-item:hover .fa-robot,
.header__dropdown-item:hover .fa-chart-bar,
.header__dropdown-item:hover .fa-key,
.header__dropdown-item:hover .fa-search,
.header__dropdown-item:hover .fa-lightbulb,
.header__dropdown-item:hover .fa-anchor {
  animation-name: move, scale;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes color-change {
  0% {
    color: rgb(91, 131, 231);
  }
  20% {
    color: rgb(112, 140, 233);
  }
  40% {
    color: rgb(124, 150, 234);
  }
  80% {
    color: rgb(70, 110, 244);
  }
  100% {
    color: rgb(85, 125, 226);
  }
}

.header__dropdown-item:hover .header__dropdown-text-upper {
  animation-name: color-change;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
